// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#banner_img {
height: 300px;
width: 1200px;
background-image: url(/images/banner.jpg);
background-repeat: no-repeat;
}
